<div class="flex justify-content-center mb-3" style="background-color: black; width: 140px; border-radius: 10%;" >
  <button (click)="onCreate()" mat-button>
    <mat-icon style="color:white;">add</mat-icon>
   <p style="font-size: 20px;color:white;">Nuevo</p>
  </button>
</div>

<mat-tab-group style="font-size: 20px">
  <mat-tab  label="USUARIOS ACTIVOS">
      <div class="table-container">
          <table mat-table class="mat-elevation-z8" [dataSource]="usuarios">
        
            
            <ng-container  matColumnDef="Nombre">
              <th class="headerColumn" mat-header-cell *matHeaderCellDef>APELLIDO Y NOMBRE</th>
              <td mat-cell *matCellDef="let element"> {{element| fullName }} </td>
            </ng-container>
    
            <ng-container matColumnDef="Correo">
              <th class="headerColumn" mat-header-cell *matHeaderCellDef>MAIL</th>
              <td mat-cell *matCellDef="let element"> {{element.Correo}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Rol">
              <th class="headerColumn" mat-header-cell *matHeaderCellDef>ROL</th>
              <td mat-cell *matCellDef="let element"> {{element.Rol}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Acciones">
              <th class="headerColumn" mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button (click)="onView(element)" mat-icon-button>
                  <mat-icon style="color: grey">visibility</mat-icon>
                </button>
                <button *ngIf="authUser && authUser.Rol === 'Administrador'" (click)="onEdit(element)" mat-icon-button>
                  <mat-icon style="color: grey">edit</mat-icon>
                </button>
                <button *ngIf="authUser && authUser.Rol === 'Administrador'" (click)="onDelete(element)" mat-icon-button>
                  <mat-icon style="color: grey" primar>delete</mat-icon>
                </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
  </mat-tab>
</mat-tab-group>