<h1 mat-dialog-title>DETALLE DE LA INSCRIPCION</h1>
<div></div>
<div mat-dialog-content>
    <form [formGroup]="inscriptionForm" class="grid formgrid">
      <div class="col-6">
        <mat-form-field class="w-full">
          <mat-label>Nombre del curso</mat-label>
          <mat-select formControlName="NombreCurso">
            <mat-option *ngFor="let curso of cursos" [value]="curso.Nombre">{{ curso.Nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-full">
          <mat-label>Nombre del alumno</mat-label>
          <mat-select formControlName="NombreAlumno">
            <mat-option *ngFor="let usuario of usuarios" [value]="usuario.Nombre + ' ' + usuario.Apellido">{{ usuario.Nombre }} {{ usuario.Apellido }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <!-- <div class="col-6">
        <mat-form-field class="w-full">
          <mat-label>Modalidad</mat-label>
          <input formControlName="Modalidad" matInput [disabled]="true">
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-full">
          <mat-label>Turno</mat-label>
          <input formControlName="Turno" matInput [disabled]="true">
        </mat-form-field>
      </div> -->

    </form>
</div>
<div class="buttonArea" mat-dialog-actions>
  <button mat-button (click)="guardar()" style="font-size: 20px;color:white;background-color: black; width: 120px">Aceptar</button>
  <button mat-button mat-dialog-close=""  style="font-size: 20px;color:white;background-color: black; width: 120px">Cancelar</button>
</div>
