<mat-drawer-container class="dashboard-container" autosize>

    <div class="dashboard-sidenav-contenido">
        <mat-toolbar style="background-color: black; height: 80px;">
            <button type="button" mat-icon-button style="color:lightgrey;" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="logo">Angular Institute</span>

        </mat-toolbar>
    </div>

    <mat-drawer #drawer class="dashboard-sidenav" mode="side" style="width: 200px;">

        <span class="sItemU" *ngIf="authUser">Usuario:<br>{{ authUser.Nombre + " " + authUser.Apellido }}</span>

        <div class="menu">
            <mat-nav-list>

                <a class="aItem" #homeLink="routerLinkActive" routerLinkActive [activated]="homeLink.isActive"
                    routerLink="inicio" mat-list-item>
                    <span class="sItem">Inicio</span>
                </a>

                <a class="aItem" *ngIf="authUser && authUser.Rol === 'Administrador'" #usersLink="routerLinkActive" routerLinkActive [activated]="usersLink.isActive" routerLink="estudiantes" mat-list-item>
                    <span class="sItem">Usuarios</span>
                </a>

                <a class="aItem" #cursosLink="routerLinkActive" routerLinkActive [activated]="cursosLink.isActive" routerLink="cursos" mat-list-item>
                    <span class="sItem">Cursos</span>
                </a>

                <a class="aItem" *ngIf="authUser && authUser.Rol === 'Administrador'" #inscripcionesLink="routerLinkActive" routerLinkActive [activated]="inscripcionesLink.isActive" routerLink="inscripciones" mat-list-item>
                    <span class="sItem">Inscripciones</span>
                </a>
                <a class="aItem" mat-list-item (click)="logout()">
                    <span class="sItemL">Logout</span>
                </a>
            </mat-nav-list>
        </div>
    </mat-drawer>
    <div class="p-5">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>